@{
    ViewBag.Title = "About";
}
<body>

  

    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/Content/about.jpeg" alt="">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Shortest way on getting hired!</span>
                                <span class="section-heading-lower">About MKD-Employment</span>
                            </h2>
                            <p>MKD-employment is the #1 job site in the Macedonia with over 250 thousant unique visitors every month. MKD-employment strives to put job seekers first, giving them free access to search for jobs and research companies. Every day, we connect thousants of people to new opportunities.</p>
                            <p class="mb-0">At MKD-employment, our mission is to help people get jobs. We have more than 20 employees passionately pursuing this purpose and improving the recruitment journey through real stories and data. We foster a collaborative workplace that strives to create the best experience for job seekers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

  




</body>
